// Hero-button

.hero__button {
    @extend %button;
    @extend %primary-button;
    @include centerButton();
    min-width: 200px;
    padding: 10px 24px;

    @media screen and (min-width: 1200px) {
        min-width: 216px;
        padding: 10px 32px;
    }
}

// Modal button 

.modal-button {
    @extend %button;
    @extend %primary-button;
    @include centerButton();
    @include sizeButton();
    padding: 10px 52px;
}
// footer-form button 

.footer-button {
    @extend %button;
    @extend %primary-button;
    @include sizeButton();
    @include centerFlex();
    gap: 10px;
    padding: 0;

    &__icon {
        fill: currentColor;
    }
}

// Portfolio-button

.portfolio-button {
    @extend %button;
    @include fontStyle(16px, 1.62);
    color: $title-text-color;
    transition: background-color 250ms $timing-function, color 250ms $timing-function, 
                box-shadow 250ms $timing-function;
  
    padding: 6px 22px;
    background-color: $mottled-background-color;
    font-weight: 500;

    &:hover,
    &button:focus {
        color: $primeri-white-color;
        background-color: $accent-color;
        box-shadow: $button-box-shadow;
    }
}
